@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto');

* {
  margin: 0;
  background-color: #ff6a25;
  font-family: 'Roboto', sans-serif;
}

.App {
  margin: 0 auto;
  height: 200vh;
  width: 100%;
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}
.search-side {
  width: 600px;
  height: 100%
}
.add-side {
  width: 250px;
}
.favs-box {
  background-color: #333;
  height: 300px;
  border: solid 1px black;
  overflow: auto;
  color: white;
  padding: 10px;
}
.display-lyrics {
  background-color: #ddd;
  border: solid black 1px;
  overflow: auto;
  height: 150vh;
  margin: 0 auto;
  padding: 20px;
}
p {
  color: black;
  font-size: 18px;
  background-color: #ddd;
  text-align: center;
  margin-bottom: 20px;
}
.title {
  background-color: #ddd;
  font-size: 60px;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: black;
  padding: 20px;
  margin-top: 20px;
  border-top: black 5px solid;
  border-bottom: black 5px solid;
}

.inputs {
  margin: 0 auto;
  margin-bottom: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

input {
  font-size: 14px;
  background-color: #eee;
  border: 1px #333 solid;
  height: 23px;
  width: 140px;
  margin: 1px auto;
}

button {
  color: white;
  background-color: #333;
  border-radius: 15px;
  font-size: 14px;
  border: 1px black solid;
  height: 28px;
  width: 80px;
  text-align: center;
  margin: 1px auto;
}

.lyrics {
  background-color: #ddd;
  text-align: center;
  font-size: 16px;
}

/* .fav-button {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.song-list {
  background-color: red;
  height: 200px;
  width: 80%;
  border: 1px solid #333;
}

.fav-list {
  background-color: #333;
  color: white;
  font-size: 14px;
  text-align: left;
}



.favorite {
  background-color: #333;
  font-size: 14px;
  height: 28px;
}

h6 {
  text-align: center;
  font-size: 30px;
  margin: 10px 0px;
  font-family: 'Monoton', cursive;
}

h3 {
  background-color: #ddd;
  text-align: center;
  margin-bottom: 20px;
}

